<h1> La page de {{prenom ~'' ~ nom }}</h1>
<ul>
    <li> Qualité Humaine</li>
    {% for perso in qualite %}
    <li> {{ perso.qualite1}} </li>
    <li> {{ perso.qualite2}} </li>
    <li> {{ perso.qualite3}} </li>
    {% endfor %}
</ul>

<ul>
    <li> Qualité professionnelle </li>
    {% for professionnelle in qualite %}
    <li> {{ professionnelle.talent1}} </li>
    <li> {{ professionnelle.talent2}} </li>
    <li> {{ professionnelle.talent3}} </li>
    {% endfor %}
</ul>